html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#logo {
  font-family: 'Emilys Candy', cursive;
  color: #f1f3de;
  font-size: 5em;
  font-weight: 900;
  margin: 10px;
  padding-left: 90px;
}

nav .navbar-nav li a {
  color: #f1f3de !important;
}

#kittyluv-navbar {
  background-color: #8f1537;
}

.kittyluv-navbar-links {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffaaaa;
  font-size: 2em;
  margin: 20px;
}

.kitty-header {
  color: #ffaaaa;
  background-color: #8f1537;
  font-family: 'Raleway', sans-serif;
}

.kitty-header h1 {
  font-weight: 900;
  font-size: 4em;
  padding: 100px 0 50px 100px;
}

.fa-cat {
  margin-left: 10px;
}

.buttons {
  margin: 1%;
}

.icon-text {
  padding-left: 10px;
}

#button-row {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 60px;
}

#header-image {
  transform: rotate(25deg);
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#describe-section {
  text-align: center;
}

.describe-container {
  margin-top: 50px;
  padding-top: 5%;
}

.describe-icons {
  color: #c7004c;
}

.describe-icons:hover {
  color: #ffaaaa;
}

.describe-text-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 5%;
}

.describe-text-paragraph {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 30px;
  padding: 20px;
}

#testimonials-section {
  color: #ffaaaa;
  background-color: #8f1537;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.testimonials-header {
  font-size: 3em;
  font-weight: 700;
  padding: 10% 6% 10%;
}

.testimonials-name {
  font-size: 1em;
  margin-left: 4%;
  font-style: italic;
  font-weight: 700;
  padding-top: 10%;
}

.testimonials-photo {
  margin: 0 auto;
  border-radius: 100%;
}

.testimonials-news-logos {
  margin-top: 10px;
  height: 100px;
}

#logo-row {
  margin: 7% 5%;
  padding-bottom: 3%;
}
