html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#logo {
  font-family: 'Emilys Candy', cursive;
  color: #f1f3de;
  font-size: 5em;
  font-weight: 900;
}

#kittyluv-navbar {
  background-color: #8f1537;
  padding-left: 100px;
}

.kittyluv-navbar-links {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffaaaa;
  font-size: 2em;
  margin: 30px;
}

.kitty-header {
  color: #ffaaaa;
  background-color: #8f1537;
  font-family: 'Raleway', sans-serif;
}

.kitty-header h1 {
  font-weight: 900;
  font-size: 4em;
  padding: 100px 0 50px 100px;
}

.fa-cat {
  margin-left: 10px;
}

.buttons {
  margin: 1%;
}

.icon-text {
  padding-left: 10px;
}

#button-row {
  padding-left: 100px;
}

#header-image {
  transform: rotate(25deg);
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#describe-section {
  text-align: center;
}

.describe-container {
  margin-top: 50px;
  padding-top: 5%;
}

.describe-icons {
  color: #c7004c;
}

.describe-text-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 5%;
}

.describe-text-paragraph {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 30px;
}
